.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  place-content: center space-between;
  margin: 92px 49px 96px 51px;
  text-underline-offset: 5px;
}

.header-menu {
  position: relative;
  left:15px;
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  list-style: circle;
}


.logo_img {
  left: 597px;
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 105px;
}

.header-contacts {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-self: end;
  height: 97px;
  padding-top: 5px;
  padding-right: 15px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.links-contacts {
  display: flex;
}

.links-menu:first-child {
  list-style-type: none;
}

.link-list-none {
  text-decoration: none;
}

.header-address {
  text-decoration: none;
}

.cover {
  z-index: -1;
  display: flex;
  flex-shrink: 0;
  min-width: 1440px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  background-size: cover;
}

.cover-title {
  z-index: 2;
  display: grid;
  row-gap: 20px;
}

.cover-title-start {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  margin: 165px 50px 0 50px;
}

.aligned-text-start {
  top: 7px;
  left: 15px;
}

.cover-title-center {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 110px 0 50px;
}

.aligned-text-center {
  top: 14px;
  left: 30px;
}

.cover-title-end {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  margin: 0px 50px 0 50px;
}

.aligned-text-end {
  top: 15px;
  right: 15px;
}

.aligned-text {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.no-letter-spacing {
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.cover__description {
  position: relative;
  top: 7px;
  right: 15px;
  display: grid;
  grid-template-columns: 1fr 257px;
  justify-content: flex-end;
  align-items: center;
  margin: 147px 50px 62px 50px;
}

.cover__description-text {
  display: flex;
  justify-content: end;
  padding-right: 85px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 16px;
}


.bet-button {
  width: 257px;
  height: 52px;
  margin-right: 50px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  flex-shrink: 0;
  width: 1340px;
  height: 579px;
  margin: 180px 70px 181px 50px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 55px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-left: 15px;
  list-style-type: none;
}


.lots__card-list-item {
  flex-grow: 1;
}

.card-link {
  display: inline-block;
}

.card_type_film {
  position: relative;
  flex-shrink: 0;
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  position: relative;
  flex-shrink: 0;
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  position: relative;
  flex-shrink: 0;
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 350px;
  margin: 50px 40px;
}

.card-title {
  width: 350px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  flex-shrink: 0;
  width: 350px;
  height: 96px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  /* 24px */
}

.card-text-book {
  width: 350px;
  height: 240px;

}

.card-text-picture {
  width: 350px;
  height: 192px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 26px;
  margin-left: 55px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 21px;
  text-underline-offset: 5px;
}

.about {
  width: 1340px;
  height: 487px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-items: center;
  height: 487px;
  padding: 0px 65px;

}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.logo-white {
  z-index: 3;
  width: 148px;
  height: 114px;
  padding: 63px 46px;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.about__title {
  position: relative;
  left: 25px;
  justify-self: start;
  align-self: center;
  height: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  position: relative;
  top: 1px;
  left: 25px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: end;
  grid-column-start: 2;
  gap: 25px;
  width: 885px;
  height: auto;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center space-between;
  margin: 180px 50px 90px 50px;
  text-underline-offset: 5px;
}

.footer-contacts {
  position: relative;
  left: 15px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-self: start;
  height: 97px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
}

.footer__social-list {
  position: relative;
  right: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: end;
  justify-content: center;
  gap: 50px;
  list-style: none;
}


.footer__social-link {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
}


.social-icon-yt {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  background-image: url(../images/yt.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon-vk {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon-pinterest {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  background-image: url(../images/pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
}