.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  place-content: center space-between;
  padding: 91px 49px 92px 52px;
  text-underline-offset: 5px;
}

.nav {
  display: flex;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  list-style: circle;
}


.logo_img {
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 105px;
  
}

.header-contacts {
  max-width: 250px;
  width: 100%;
  justify-self: end;
  padding-top: 6px;
  padding-left: 10px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.links-menu:first-child {
  list-style-type: none;
}

.link-list-none {
  text-decoration: none;
}

.header-address {
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  min-width: 1440px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover-title {
  z-index: 3;
  display: grid;
  row-gap: 20px;
}

.cover-title-start {
  z-index: 3;
  text-align: start;
  margin: 165px 50px 0 50px;
}

.aligned-text-start {
  top: 8px;
}

.cover-title-center {
  z-index: 3;
  text-align: center;
  margin: 0 110px 0 50px;
}

.aligned-text-center {
  top: 14px;
  left: 30px;
}

.cover-title-end {
  z-index: 3;
  text-align: end;
  margin: 0px 50px 0 50px;
}

.aligned-text-end {
  top: 15px;
}

.aligned-text {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.no-letter-spacing {
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: initial;
  text-transform: uppercase;
}

.cover__description {
  z-index: 2;
  position: relative;
  top: 5px;
  display: grid;
  grid-template-columns: 1fr 257px;
  justify-content: flex-end;
  align-items: center;
  margin: 147px 50px 62px 50px;
}

.cover__description-text {
  display: flex;
  justify-content: end;
  padding-right: 85px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 16px;
}


.bet-button {
  width: 257px;
  height: 52px;
  margin-right: 50px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  flex-shrink: 0;
  max-width: 1340px;
  width: 100%;
  height: 100%;
  margin: 180px 70px 181px 50px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  width: 100%;
  list-style-type: none;
}


.lots__card-list-item {
  flex-grow: 1;
}

.card-link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
}

.element {
  position: relative;
  width: 100%;
  max-width: 430px;
  min-height: 450px;
}

.card {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  position: relative;
  z-index: 3;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  position: relative;
  z-index: 3;
  flex-shrink: 0;
  min-width: 350px;
  width: 100%;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  /* 24px */
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 28px;
  margin-left: 41px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 21px;
  text-underline-offset: 5px;
}

.about {
  max-height: 487px;
  height: 100%;
}

.about__column {
  display: grid;
  column-gap: 25px;
  grid-template-columns: 430px 1fr;
  justify-items: center;
  padding: 10px 52px;

}

.about__logo {
  position: relative;
  bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.logo-white {
  z-index: 3;
  width: 148px;
  height: 114px;
  padding: 63px 46px;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.about__title {
  justify-self: start;
  align-self: center;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  min-width: 885px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: end;
  grid-column-start: 2;
  gap: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center space-between;
  margin: 186px 50px 90px 53px;
  text-underline-offset: 5px;
}

.footer-contacts {
  max-width: 250px;
  width: 100%;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-footer {
  display: flex;
  justify-content: center;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
}

.footer__social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: end;
  justify-content: center;
  gap: 48px;
  list-style: none;
}


.footer__social-link {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
}

.footer__social-icon {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon-yt {
  background-image: url(../images/YouTube.svg);
}

.social-icon-vk {
  background-image: url(../images/VK.svg);
}

.social-icon-pinterest {
  background-image: url(../images/Pinterest.svg);
}